#rulesBox {
   padding: 20px; 
}

#rulesList {
    margin-top: 20px; 
 }

 #backBtn {
     cursor: pointer;
     background: none;
     border: none;
     text-decoration: underline;
     margin-bottom: 10px;
 }