.wrapperBox {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

.nameBox {
    width: 100%;
}

.nameInput {
    width: 70%;
    float: left;
}

.nameBtn {
    width: 25%;
    float: right;
    background: red;
}

