.wrapperBox {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#namesDiv{
    padding: 20px;
}

.nameBox {
    width: 100%;
}

.nameInput {
    width: 100%;
}

.nameBtn {
    margin: auto;
    width: 45%;
    /* float: right; */
    background: red;
}

.generateBtn {
    margin: auto;
    float: right;
    background: black;
    width: 45%;
}

/* #glBtn{
   
} */

@media screen and (max-width: 450px) {

    #namesDiv{
        margin-bottom: 20px;
    }
    .nameInput {
        width: 100%;
    }

    .nameBtn {
        width: 45%;
        float: none;
    }

    .generateBtn {
        float: right;
        width: 45%;
    }

    

  }

