#navComp {
    width: 10px;;
}

.homeContainer {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.generateBtn {
    float: right;
    background: black;
    width: 25%;
}

.rosterBox {
    margin: auto;
    margin-right: 30px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: green;
    border-radius: 5px;
    
}

.battingOrderRow {
    margin: auto;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    width: 100%;
    padding: 20px;
}

.battingOrderCol {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
}

/* .row {
    padding: 5px;
} */

.players {
    color: white;
}
.order {
    color: black;
    
}

.playerRowBox {
    background: white;
    border: 1px solid gray;
    float: left;
    width: 100px;
    padding: 5px;
    text-align: center;

}

.benchOrderRow {
    margin: auto;
    width: 100%;
    height: 100%;
    /* padding: 20px;
    padding-top: 10px; */
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.benchRowBox {
    background: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;

}

.benchBox {
    background: white;
    float: left;
    width: 100px;
    padding: 5px;
    text-align: center;
}

.playerBox {
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    margin: 0;
}

.positionRow {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}

.positionBox {
   /* Each position's Col */
}

#battingOrderTitle {
    margin-left: 5px;
}

.title {
    margin-left: 25px;
}

.position{
    font-size: 16px;
}

.benchBox {
    float: left;
}

.row {
    padding: 0;
}


