.homeContainer {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* .fieldContainer {
    max-width:100%;
    max-height:100%;
    margin: auto;
    background: url("https://cdn.pixabay.com/photo/2018/10/28/13/22/baseball-3778774_960_720.png");
   
    background-repeat: no-repeat;
    background-size: cover;
} */

.generateBtn {
    float: right;
    background: black;
    width: 25%;
}

.editBtn {
    float: right;
    color: white;
    background: green;
}

.playerRowBox {
    background: white;
    border: 1px solid gray;
    float: left;
    width: 100px;
    padding: 5px;
    text-align: center;
}

.playerBox {
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    margin: 0;
}

.positionRow {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.title {
    margin-left: 25px;
}

.position{
    font-size: 16px;
}



