#navComp {
    width: 100%;
}

.homeContainer {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.generateBtn {
    float: right;
    background: black;
    width: 25%;
}

.rosterBox {
    margin: auto;
    margin-right: 30px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: green;
    border-radius: 5px;
    
}

#battingOrderTitle {
    margin: auto;
    margin-left: 0;
    margin-bottom: 15px;
}

.battingOrderRow {
    margin: auto;
    width: 100%;
} 

.battingOrderSubRow {
    margin: auto;
    width: 100%;
}

#orderNum {
    text-align: left;
}

.battingOrderBox{
    background: white;
    border: 1px solid gray;
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.players {
    color: white;
}
.order {
    color: black;
    
}

.fieldingCol {
    margin: auto;
    width: 25%;
    padding: 10px;
}

.benchOrderSubRow {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.benchBox {
    background: white;
    border: 1px solid gray;
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.playerBox {
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    margin: 0;
}

.positionRow {
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}

.title {
    margin-top: 20px;
    margin-left: 25px;
}

.bench {
    margin-left: 0;
}

.pc {
    margin-bottom: 10px;
}

.position{
    font-size: 16px;
}


@media screen and (max-width: 450px) {

    .battingOrderBox{
        background: white;
        border: 1px solid gray;
        width: 25%;
        padding: 1px;
        text-align: center;
    }

    .fieldingCol {
        width: 50%;
    }
    .benchBox {

        width: 20%;

  }

}
