#benchDiv {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}



.benchOrderSubRow {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.benchBox {
    background: white;
    border: 1px solid gray;
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.bench {
    margin-left: 0;
}

@media screen and (max-width: 450px) {
    .benchBox {
        width: 50%;
  }
}
