body {
    background: #eee;
}

html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
    
}

.routerDiv {
    height: 100%;
    width: 100%;
}

#navComp {
    width: 100%;
    
}